h2{
    display: block;
    font-size: 12px;
    margin-block-start: 0.em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.marco{
    position: relative;
    flex-direction: column;
    align-items: stretch;
    background-image: url(".././img/marco.png");
    background-size: cover;
    height: 200px;
    width: 200px;
}

.container{
    position: relative;
    flex-direction: column;
    align-items: stretch;
    border: 2px;
    height: 81.08%;
    width: 81.08%;
    border-radius: 10px; /* establece el ancho en un 50% del ancho del contenedor padre */
  
}
.flipcard{
    position:absolute;
    width:100%;
    height:100%;
    background-color:white;
    transform-style: preserve-3d;
    transition: all 0.04s ease;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    

}


.flipcard:hover{
    transform: rotateY(180deg);
    border-radius: 10px;
    width:100%;
    height:100%;
    margin-left: 17px;
    margin-top: 19px;
}

.imagecontainer{
    position:absolute;
    width:207px;
    height:207px;
    backface-visibility: hidden;
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.image{
    position:left;
    border-radius: 10px;
    width:81.08%;
    height:81.08%;
    margin-right: 36px;
    margin-top: 0px;
}

.textcontainer{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    position:absolute;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background: red;
    margin-top: 4px;
    
}

.buttonContainer{
    display: flex;    
    justify-content: center;
}

