.App {
   text-align: center;
}

.CardsContainer{
   display: flex;
   flex-direction: column;
    align-items: stretch;
    padding: 1px;
}

body{
   background-image: url("./components/img/812062.jpg");
   background-size: cover;
}